#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    z-index: 5;
}

#profile-pic{
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: black 1px solid;
    display: block;
    object-fit:cover;
    z-index: 5;
}

#profile-wrapper{
    margin-top: 2rem;
    font-family: 'Zen Loop', cursive;
    font-size: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 15px 5px #0000005b; 
    box-shadow: 0px 0px 15px 5px #0000005b;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.425);
}

p{
    position: relative;
    z-index: 5;
}

#my-name{
    font-weight: 700;
}