/* embed{
    width: 100%;
    min-height: 500px;
} */
iframe{
    max-width: 800px;
    width: 100%;
    height: 110vw;
    max-height: 1100px;
}

#resume-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
    box-sizing: border-box;
    /* width: 70%; */
    max-width: 95vw;
}