/* embed{
    width: 100%;
    min-height: 500px;
} */
iframe{
    width: 100%;
    /* min-height: 500px; */
}

#resume-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
    box-sizing: border-box;
    min-height: 500%;
}