#skills{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}
#skills-container{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    list-style:circle;
    flex-wrap: wrap;
    /* max-height: 200px; */
}
.skill{
    font-size: 2rem;
    margin: 1rem;
    /* width:max-content; */
}